<section class="hero is-fullheight has-text-centered has-background-white" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <h2>{{site.author-about1}}</h2>
                    <br><br>
                    <strong><p>{{site.author-about}}</p></strong>
                    <br>
                    <p>{{site.author-about2}}</p>
                    <br>
                    <div class="container columns is-left">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#clients"
                                class="button is-rounded is-uppercase has-text-weight-normal is-medium is-black is-outlined">See Our Network
                               </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</section>
