        <div class="column is-three-quarters-mobile  is-half-tablet is-one-quarter-desktop is-one-quarter-widescreen is-one-fifth-fullhd has-text-left-desktop has-text-left-tablet" id="blog-card">
                  <a href="{{post.url | absolute_url}}">

<figure class="image is-3by2">
  <img class="" src="{{post.post-image}}">
</figure>

            <h1 class="title has-text-white is-size-4-touch">{{post.title}}</h1>
            <div class="content has-text-white">
                {{ post.content | truncate: 100 | strip_html | strip_newlines | strip | escape }}
                <hr class="has-background-grey">
                <span class="has-text-white">Published on <span class="has-text-weight-semibold">{{ post.date | date: "%-B %d, %Y" }}</span></span> | <i class="fas fa-clock"></i> <span class="has-text-weight-semibold">{% assign words = post.content | number_of_words %}{%- unless content.size == 0 -%}{{ words | divided_by:180 }} min{% endunless %}</span> read
            </div>
          </a>

        </div>
