<div class="columns is-centered is-multiline is-mobile">
  {% for project in site.data.projects limit: 5 %}
    <div class="column has-text-centered is-one-quarter-widescreen is-one-half-desktop is-one-half-fullhd is-one-half-tablet is-half-mobile is-three-quarters-touch"
      id="project-card">
      <a href="{{project.link}}" target="_blank">
      <div class="has-background-black card">
        <figure class="image is-full-width">
          <img src="{{project.image}}">
        </figure>
        <div class="card-content">
          <h2 class="title has-text-white is-size-5">{{ project.name }}</h2>
          <p class="has-text-white has-text-weight-light content">{{ project.description | truncate: 80}}</p>
        </div>
      </div>
      </a>
    </div>
  {% endfor %}
</div>
