<section class="hero is-fullheight has-text-centered" id="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-white is-size-1 is-uppercase has-text-weight-bold">
        {{site.title}}
      </h1>
      <h2 class="is-size-4 has-text-white is-uppercase has-text-weight-medium is-marginless">
        {{site.description}}
      </h2>
      <br>
      <a href="{{site.url}}{{site.baseurl}}/#clients"
        class="button is-rounded is-uppercase is-text is-white is-medium has-text-weight-normal">See Our Network</a>
    </div>
  </div>
</section>
